.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    
}

.auth-card {
    width: 100%;
    max-width: 320px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    
}



.auth-card p{
    text-align: center;
    margin-top: 18px;
}

.auth-card span {
    margin-left: 8px;
    color: blue;
    cursor: pointer;
}

/*.primary-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 10px;
}*/

.auth-input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.loader {
    text-align: center;
    padding: 20px;
}

